:root {

  --bg-header: #1f2438;
  --bg-dark: rgb(13, 15, 24);

  --bg-color: rgb(235, 220, 201);

  --loog-font-color: rgb(202, 134, 78);
  --font-color: #eee;

  --header-height: 40px;
}


/* --bg-header: rgb(39, 45, 73); */

body {
  /* background-color: var(--bg-color); */
  background-color: var(--bg-color);
  color: var(--font-color);

  height: 100%;

  box-sizing: border-box;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: 100vh;
  /* margin: 10px 40px; */
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:150px 60px 1fr 100px;
  grid-template-areas:
    'logo' 
    'header'
    'content'
    'footer';
}

.logo {
  grid-area: logo;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  color: #111;
  margin:20px 50px;
}

.footer {
  grid-area: footer;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media(min-width: 876px) {

  /* header.header {
    margin: 15px 20px;
  } */

  div.content { 
    margin: 20px 20% ;
  }
}