.header {
    background-color: var(--bg-header);
    width: 95%;
    height: var(--header-height);

    margin: 15px 2.5%;
    margin-top: 25px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 840px ) {
    .header {
        width: 100%;
        margin: 0;
        /* margin-top: 25px; */
        border-radius: 0;
        border-top: var(--logo-font-color) solid 1px;
    }
    .menu-item {
        display: none;
        padding: 0px;
    }
}

.menu-item {
    display: inline;
    text-align: center;
    justify-content: center;
    padding: 10px 40px;
    height: var(--header-height);
    width: 50px;
}

.menu-item:hover {
    background-color: var(--bg-dark);
}

a {
    color: var(--font-color);
    text-decoration: none;
}
